.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.edit-container .markdown-body,
.edit-container .edit-area {
  height: 700px;
}
.edit-container .markdown-body {
  overflow-y: auto;
  border-bottom: 1px solid gray;
}
.edit-container .edit-area {
  padding-top: 2em;
  margin-bottom: 1em;
}
.edit-container .edit-area textarea {
  height: 100% !important;
  padding: unset;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.guides-collection {
  max-width: 600px;
}