@import '_colors';
@import 'guides';
@import 'alerts';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $white;
}

#app {
  padding-bottom: 50px; // Change this later
}

.btn {
  margin-right: 10px!important;  // TODO I shouldn't need this I think...
}

.guides.progress {
  margin-top: 20px;
}
.loader.preloader-wrapper.small {
  width: 28px;
  height: 28px;
  margin-top: 4px;
}